// Fonts
$fontMain: Arial, Helvetica, sans-serif;
// Colors
$pageMain: #fe993d;
$pageBg: #f0f0f0;
$pageAside: #008001;
$linkStatic: #c1392b;
$linkHover: #e84c3d;
$btnSocial: #874000;
$btnSocialHover: #612f00;
